
<!-- <div *ngFor="let item of products; let i = index">
       <td>{{i+1}}</td>
      <div><img style="width: 120px" src="{{ item.img }}" alt="" /></div>
      <div>{{ item.productName }}</div>
      <div style="width: 25%">{{ item.description }}</div>
      <div style="width: 12%">{{ item.price }}</div>
</div> -->
<div class="container mt-4">
      <table class="table">
            <thead>
              <tr>
                <th scope="col">Number</th>
                <th scope="col">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products; let i = index">
                <th scope="row">{{i+1}}</th>
                <td><img src="{{ item.img }}" alt="product-image"></td>
                <td>{{item.productName}}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
                <td><button (click)="onDelete(item.id)" class="btn btn-danger btn-sm">Del</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button (click)="onPay()" class="btn btn-primary btn-sm">PAY!</button>
</div>
