<footer *ngIf="closeFooter!=null" class="bg-dark text-light w-100" style="bottom: 0; height: fit-content;">
    <section class="text-center mt-2">
        <a href="" class="text-white me-4">
          <i class="fa fa-facebook-official"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-google" aria-hidden="true"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-github-square" aria-hidden="true"></i>
        </a>
      </section>
      <section class="text-center mt-1">
        <ul class="text-center mt-2 fs-4" style="list-style-type: none; display: inline-flex; padding: inherit;">
            <li class="me-2 li-color">
              <i class="fa fa-cc-visa" aria-hidden="true"></i>
            </li>
            <li class="me-2">
              <i class="fa fa-cc-paypal" aria-hidden="true"></i>
            </li>
            <li class="me-2">
              <i class="fa fa-amazon" aria-hidden="true"></i>
            </li>
            <li class="me-2">
              <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
            </li>
            <li class="me-2">
              <i class="fa fa-btc" aria-hidden="true"></i>
            </li>
        </ul>
      </section>
      <div class="text-center  mt-1 mb-2">
        © 2022 Copyright:
        <a class="text-light">Project of FıratMikyaz</a>
      </div>
</footer>
