<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{data?.img}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{data?.img}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{data?.img}}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="col-sm-7 p-4 mt-5">
            <h2>{{data?.productName}}</h2>
            <br>
            <p>Product Code: {{data?.id}}</p>
            <p class="price"><label>Price:</label> $ {{data?.price}}</p>
            <p>{{data?.description}}</p>
            <label>Quantity: </label>
            <input class="ms-2" type="text" value="1" style="width: 50px;">
            <br>
            <button type="button" class="btn btn-secondary mt-3 p-2">Add To Cart</button>
            <!-- (click)="addtocart(data)" -->
        </div>
    </div>
</div>